@page
@model IndexModel
@{
    ViewData["Title"] = "Holiday Cookbook";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Holiday Cookbook</h1>
    <p>Discover delightful recipes and create magic in the kitchen this holiday season!</p> 
</div>

<div class="container mt-5">
    <h2 class="text-center">Featured Recipes</h2>
    @for (var i = 0; i < Model.Recipe.Count; i += 3)
    {
        <div class="row justify-content-center">
            @for (var j = i; j < i + 3 && j < Model.Recipe.Count; j++)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Recipe[j].Name</h5>
                            <p class="card-text">@Model.Recipe[j].Description</p>
                            <a asp-page="/Recipes/Details" asp-route-id="@Model.Recipe[j].Id" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>


